a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
.nav-link {
  text-decoration: none; 
}
.nav-link:hover {
  color: #d38c69; 
  text-decoration: underline; 
}
.btn{
  background-color:#ffe79b; 
  font-weight: 600;
  font-size: 18px;
  border: 2px solid #0a0d36;
  padding: 5px 15px;  
  border-radius: 12px;
  font-family:'Raleway', sans-serif;
  box-shadow: 1px 5px 0.9px black; 
  margin: 20px 1px; 
}
.btn:visted {
  color: yellow; 
}
.btn:hover {
  background-color:#FFD580;
  color: #702963;
  border: 1px solid white;
}
.btn:active {
  margin: 25px 0px 15px 0px; 
  margin-left: 1px;
  box-shadow:none; 
}
.activity {
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 5px 0 #0a0d36;
  border-radius: 15px;
  border: 2px solid black;
}
.activity:hover {
  background-color: #ffd580;
  text-decoration:none;
}

.activity:active {
  box-shadow: none;
}
